<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;url=<%= itms_url %>">
        <script type="text/javascript">
          window.location.href = "<%= itms_url %>"
        </script>
        <title>hawk</title>
    </head>
    <body>
      If you are not redirected automatically, tap <a href='<%= itms_url %>'>here</a>
    </body>
</html>
